<div class="panel panel-primary">
  {{ inputMessage }}
  <div class="panel-heading">
    <button class="btn btn-default" (click)="addCustomer()">Add Customer</button>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>
            <!-- Template based routing -->
            <!-- <a [routerLink]="['/customers', customer.id]">
                {{ customer.lastName }}, {{ customer.firstName }}
            </a> -->

            <!-- Component based routing -->
            <a (click)="view(customer.id)">
              {{ customer.lastName }}, {{ customer.firstName }}
          </a>
          </td>
          <td>
            <button class="btn btn-info" (click)="view(customer.id)">View</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>