<div class="panel panel-primary">
  <div class="panel-heading">
    {{ pageTitle }}
  </div>

  <div class="panel-body">
    <div class="wizard">
      <a [routerLink]="['sectionOne']"
         routerLinkActive="active">
        Section One <span class="glyphicon glyphicon-exclamation-sign"></span>
      </a>
      <a [routerLink]="['sectionTwo']"
         routerLinkActive="active">
        Section Two
      </a>
    </div>

    <router-outlet></router-outlet>
  </div>

  <div class="panel-footer">
    <div class="form-group">
      <span>
        <button class="btn btn-default"
                [disabled]="!canGoToPrevious()"
                *ngIf="canGoToPrevious()">
          Previous
        </button>
      </span>

      <span>
        <button class="btn btn-warning"
                [disabled]="!canGoToNext()">
          Next
        </button>
      </span>

      <span>
        <button class="btn btn-primary">
          Submit
        </button>
      </span>

      <span>
        <button class="btn btn-default"
                (click)="cancel()">
          Cancel
        </button>
      </span>
    </div>
  </div>
</div>