<div class="panel panel-primary">
  <div class="panel-heading">
    {{ pageTitle }}
  </div>
      
  <div class="panel-body">
    <div class="row">
      <div class-md-6>
        <div class="row">
          <div class="col-md-3">Id:</div>
          <div class="col-md-6">{{ customer.id }}</div>
        </div>

        <div class="row">
          <div class="col-md-3">First Name:</div>
          <div class="col-md-6">{{ customer.firstName }}</div>
        </div>

        <div class="row">
          <div class="col-md-3">Last Name:</div>
          <div class="col-md-6">{{ customer.lastName }}</div>
        </div>

        <div class="row">
          <div class="col-md-3">Phone Number:</div>
          <div class="col-md-6">{{ customer.phoneNumber }}</div>
        </div>
      </div>
      <span>
          <button class='btn btn-primary'
                  type='submit'
                  [disabled]="!customerForm.valid">
            Save
          </button>
        </span>

        <span>
            <button class='btn btn-primary'
                    type='submit'
                    [disabled]="!customerForm.valid">
              Save
            </button>
          </span>
    </div>
  </div>
      
  <div class="panel-footer">
    <a class="btn btn-default" (click)="back()">
      <i class="glyphicon glyphicon-chevron-left"></i> Back
    </a>

    <a class="btn btn-default" [routerLink]="['/customerEdit', customer.id]">
      Edit
    </a>

  </div>
</div>