<div class="panel panel-primary">
  <div class="panel-heading">
      {{ pageTitle }}
  </div>

  <div class="panel-body">
    <!-- <form class="form-horizontal"
          (ngSubmit)="save()"
          [formGroup]="customerForm"
          novalidate> -->
    <form class="form-horizontal"
          novalidate
          (ngSubmit)="save(customerForm)"
          #customerForm="ngForm">
      <fieldset>

          <div class="form-group"
               *ngIf='idVar != 0'>
              <label class="col-md-2 control-label" for="id">
                Id
              </label>
              <div class="col-md-8">
                <input class="form-control"
                      id="id"
                      type="number"
                      readonly
                      [(ngModel)]="customer.id"
                      name="id"
                      #idVar="ngModel" />
              </div>
            </div>

        <!-- <div [ngClass]="{'has-error': formError.firstName}">
          <label class="col-md-2 control-label" for="firstName">
            First Name
          </label>
          <div class="col-md-8">
            <input class="form-control"
                  id="firstName"
                  type="text"
                  placeholder="First Name (required)"
                  formControlName="firstName" />
            <span *ngIf="formError.firstName">
              {{formError.firstName}}
            </span>
          </div>
        </div> -->

        <div class="form-group"
            [ngClass]="{'has-error': (firstNameVar.touched || firstNameVar.dirty) && !firstNameVar.valid }">
          <label class="col-md-2 control-label"
                 for="firstNameId">First Name</label>

          <div class="col-md-8">
            <input class="form-control"
                  id="firstNameId"
                  type="text"
                  placeholder="First Name (required)"
                  required
                  [(ngModel)]="customer.firstName"
                  name="firstName"
                  #firstNameVar="ngModel" />
            <span class="help-block" *ngIf="(firstNameVar.touched || firstNameVar.dirty) && firstNameVar.errors">
              <span *ngIf="firstNameVar.errors.required">
                Please enter your first name.
              </span>
            </span>
          </div>
        </div>

        <div class="form-group"
             [ngClass]="{'has-error': (lastNameVar.touched || lastNameVar.dirty) && !lastNameVar.valid }">
            <label class="col-md-2 control-label"
                   for="lastNameId">Last Name</label>

            <div class="col-md-8">
              <input class="form-control"
                    id="lastNameId"
                    type="text"
                    placeholder="Last Name (required)"
                    [(ngModel)]="customer.lastName"
                    name="lastName"
                    #lastNameVar="ngModel" />
            </div>
          </div>

          <div class="form-group"
          [ngClass]="{'has-error': (phoneNumberVar.touched || phoneNumberVar.dirty) && !phoneNumberVar.valid }">
              <label class="col-md-2 control-label" for="phoneNumber">Phone Number</label>

              <div class="col-md-8">
                <input class="form-control"
                      id="phoneNumber"
                      type="text"
                      placeholder="Phone Number (required)"
                      [(ngModel)]="customer.phoneNumber"
                      name="phoneNumber"
                      #phoneNumberVar="ngModel" />
              </div>
            </div>

        <div class="form-group">
            <div class='col-md-4 col-md-offset-2'>
                <span>
                  <button class='btn btn-primary'
                          type='submit'
                          [disabled]="!customerForm.valid">
                    Save
                  </button>
                </span>
                <span>
                  <button class="btn btn-default"
                          type="button"
                          (click)="onCancel()">
                    Cancel
                  </button>
                </span>
              </div>
        </div>

      </fieldset>
    </form>
  </div>

  <div class="panel-footer">
      <a class="btn btn-default" (click)="onCancel()">
          <i class="glyphicon glyphicon-chevron-left">
            Back
          </i>
        </a>
  </div>
</div>

<br>Dirty: {{ customerForm.dirty }}
<br>Touched: {{ customerForm.touched }}
<br>Valid: {{ customerForm.valid }}
<br>Value: {{ customerForm.value | json }}
<!-- <br>Controls: {{ customerForm.controls.id.value }} -->